*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", "Helvetica";
  font-size: 14px;
}

button {
  padding: 12px 25px;
  border: none;
  background-color: #fff;
  border-radius: 8px;
  cursor: pointer;
  min-width: 120px;
  font-weight: 700;
  transition: transform 1s ease-in-out;
  /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  font-family: 'Poppins';
}

button:hover {
  background-color: black !important;
  color: white;
}

.btn-edit {
  background-color: #3fa7d6;
}

.btn-delete {
  background-color: #ee6352;
}

#root {
  width: 100%;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.main {
  display: flex;
}

.outlet {
  width: 100%;
  padding: 1rem;
}

.side-nav {
  width: 25%;
  min-height: 100vh;
  height: 100%;
  padding: 30px;
  background-color: #3fa7d6;
}

.side-nav nav {
  margin-top: 30px;
}

.side-nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* justify-content: space-between; */
  gap: 5px;
}

.side-nav nav a {
  display: block;
  border-radius: 8px;
  padding: 12px 0;
  font-size: 1.1rem;
}

.side-nav a {
  text-decoration: none;
  color: black;
}

.side-nav a.active {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

.recipe {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 800px;
  height: 100%;
  padding: 50px;
  column-gap: 40px;
}

.recipe-name {
  grid-column: 1 / span 2;
  grid-row: 2;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
}

.recipe > ul > li {
  margin-top: 15px;
}

.recipe-ingredients {
  grid-column: 1;
  grid-row: 3;
}

.recipe-instructions {
  grid-column: 2;
  grid-row: 3;
  list-style: none;
  text-align: left;
}

.recipe-menu {
  grid-column: 1 / span 2;
  grid-row: 1;
  display: flex;
  justify-content: end;
  gap: 5px;
  margin-bottom: 12px;
}

.side-nav .active {
  background-color: #fac05e;
}

.ingredient {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

input, select {
  padding: 4px;
}

.ingredient-table {
  border-collapse: collapse;
}

.ingredient-table th {
  font-size: 1em;
  text-align: left;
}

.ingredient-table td {
  padding-inline: 2px;
}

.ingredient-table input {
  width: 100%;
}

.ingredient-table tr > td:nth-child(1) {
  width: 300px;
}

.ingredient-table tr > td:nth-child(2) {
  width: 100px;
}

.ingredient-table tr > td:nth-child(3) {
  width: 100px;
}

#edit-recipe-form button {
  cursor: pointer;
  min-width: 30px;
}

input[type="number"] {
  text-align: right;
}

.instruction-inputs {
  list-style: none;
}

.instruction-inputs > li {
  margin-top: 5px;
  width: 100%;
  display: flex;
}

.instruction-input {
  width: 100%;
}

.add-ingredient-inputs {
  display: flex;
  column-gap: 4px
}

.name-input {
  width: 300px;
}

.quantity-input {
  width: 100px;
}

.unit-input {
  width: 100px
}

/* .add-ingredient-inputs .input-group {
  display: inline-block;
} */

.input-group label, 
.input-group input {
  display: block;
}

hr {
  margin: 10px 0;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.btn-add-ingredient {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.add-ingredient-inputs > div:last-child {
  display: flex;
}

.btn-add-ingredient {
  margin-top: auto;
}

.add-instruction-inputs {
  width: 100%;
  display: flex;
}

.add-instruction-inputs .input-group {
  flex-grow: 1;
}

.add-instruction-inputs .input-group > input {
  width: 90%;
}

.btn-add-instruction {
  background-color: transparent;
  cursor: pointer;
}

input, select {
  font-size: 1rem;
  font-family: inherit;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  background-color: white;
  line-height: 1.5;
  margin: 0;
}

#edit-recipe-form {
  margin-top: 50px;
  width: 80%;
}

.tabs {
  display: flex;
  align-content: center;
  gap: 20px;
}

.tabs > div {
  padding: 15px 0px;
  border-radius: 12px;
}

.tabs > div.active::after {
  content: '';
  width: 100px;
  position: absolute;
  top: 50;
  left: 50;
  height: 2px;
  background: rgba(0, 0, 0, 0.5);
}

.tabs > div.inactive {
  color: rgba(0, 0, 0, 0.2);
  transform: scale(0.90);
}

.edit-recipe-name {
  text-align: center;
}

.edit-recipe-name > input {
  width: 40%;
  /* margin: auto; */
}

.add-ingredient-row {
  /* border-bottom: 2px solid rgba(0, 0, 0, 0.2); */
  box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.7); 
}

.add-ingredient-row td {
  padding-bottom: 8px;
}

.add-ingredient-row + tr td {
  padding-top: 4px;
}

.add-instruction-row {
  box-shadow: 0px 2px 4px -4px rgba(0, 0, 0, 0.9); 
  padding-bottom: 10px;
}

.add-instruction-row + li {
  padding-top: 4px;
}

.btn-submit-recipe {
  margin: 30px 0;
  /* border: 1px solid #000 !important; */
}

.btn-icon {
  box-shadow: none;
}

.recipe-menu-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
}

.recipe-menu-header button {
  margin: 0 auto;
  min-width: 0;
  display: flex;
  align-items: center;
  background-color: white;
}

.recipe-index {
  width: 800px;
}

.recipe-index-text {
  margin: 8rem auto;
  text-align: center;
}