* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", "Helvetica";
  font-size: 14px;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

#root {
  width: 100%;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.recipe {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 800px;
  height: 100%;
  padding: 50px;
  column-gap: 40px;
  margin: 0 auto;
}

.recipe-name {
  grid-column: 1 / span 2;
  grid-row: 1;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
}

.recipe > ul > li {
  margin-top: 15px;
}

.recipe-ingredients {
  grid-column: 1;
  grid-row: 2;
}

.recipe-instructions {
  grid-column: 2;
  grid-row: 2;
  list-style: none;
  text-align: left;
}

.ingredient {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

form {
  width: 800px;
  margin: 0 auto;
}

input, button {
  padding: 4px;
}

.ingredient-table th {
  font-size: 1em;
  text-align: left;
}

.ingredient-table td {
  /* padding-top: 2px; */
  padding-inline: 2px;
}

.ingredient-table input {
  width: 100%;
}

.ingredient-table tr > td:nth-child(1) {
  width: 300px;
}

.ingredient-table tr > td:nth-child(2) {
  width: 100px;
}

.ingredient-table tr > td:nth-child(3) {
  width: 100px;
}

.ingredient-table button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

input[type="number"] {
  text-align: right;
}

.instruction-inputs {
  list-style: none;
}

.instruction-inputs > li {
  margin-top: 5px;
}

.instruction-input {
  width: 90%;
  margin-right: 5px;
}

.add-ingredient-inputs {
  display: flex;
  column-gap: 5px
}

.add-ingredient-inputs .input-group {
  display: inline-block;
}

.add-ingredient-inputs label, 
.add-ingredient-inputs input {
  display: block;
}

hr {
  margin: 10px 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.btn-add-ingredient {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.add-ingredient-inputs > div:last-child {
  display: flex;
}

.btn-add-ingredient {
  margin-top: auto;
}

.add-instruction-inputs {
  width: 100%;
  display: flex;
}

.add-instruction-inputs .input-group {
  flex-grow: 1;
}

.add-instruction-inputs .input-group > input {
  width: 90%;
}

.btn-add-instruction {
  background-color: transparent;
  border: none;
  cursor: pointer;
}